@page
@model RazorRentDemo.Pages.Garage.IndexModel

@{
    ViewData["Title"] = "GARAJ";
}

<h1>GARAJ</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Add New Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                UnitPrice
            </th>
            <th class="text-center">
                Avaliable
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Car)
        {
            <tr>
                <td>
                    @item.Brand
                </td>
                <td>
                    @item.UnitPrice
                </td>
                <td class="text-center">
                    @{
                        var result = item.Avaliable ? "OK" : "N/A";
                    }
                    @result
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
